extends template.pug
include ./components/productCard.pug

block content
  .container.text-center.mt-5
    .row.justify-content-center
      .col-md-8
        h1.display-1.text-danger 404
        h2.text-dark.mt-3 Oops! Page not found

        p.lead.text-muted.mt-2= message

        h3.mt-4 Available categories:
        ul.list-unstyled
          each cat in categories
            li
              a(href=`/category/${cat.url}`)= cat.title

        h3.mt-4 Maybe you will like these products:
        .row
          each item in goods
            +productCard(item, item.category)
              
        a.btn.btn-secondary.mt-4(href='/') Go to Homepage
